project({ProjectName})

cmake_minimum_required(VERSION 2.8)

LIST(APPEND CMAKE_MODULE_PATH ${{GDX_SOURCE}}/cmake/finders)
find_package(GdxCpp REQUIRED TRUE)

set(LIBRARY_OUTPUT_PATH ${{PROJECT_BINARY_DIR}}/lib)

include_directories(${{GDXCPP_INCLUDE_DIR}})

set({ProjectName}_SRCS main.cpp)

gdx_setup_target({ProjectName} EXECUTABLE ${{{ProjectName}_SRCS}})

target_link_libraries({ProjectName} ${{GDXCPP_LIBRARIES}})
